body {
	/*background: #3385ff;*/
	background: url(https://images.pexels.com/photos/74241/rozdzial-strona-ksiazka-macro-74241.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
	background-size: cover;
	background-repeat: no-repeat;
	color: #00264d;
	text-align: center;
}
header {
	padding: 20px;
}
.box {
	padding: 40px;
	font-size: 3em;
}
.trigger {
	padding: 18px 30px;
	background: transparent;
	margin-top: 50px;
	border: solid 1px;
	border-radius: 10px;
	color: #00264d;
	cursor: pointer;
}
.trigger:hover {
	color: #fff;
	text-decoration: none;
	background-color: #00264d;
	border-color: #00264d;
}
.tweet {
	padding: 20px 42px;
	background: transparent;
	margin: 30px;
	border: solid 1px;
	border-radius: 10px;
	color: #00264d;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
}
.tweet:hover {
	color: #fff;
	text-decoration: none;
	background-color: #00264d;
	border-color: #00264d;
}
.tweet:visited {
	/*color: #00264d;*/
	text-decoration: none;
	background-color: transparent;
	border-color: #00264d;
}