
* {
	box-sizing: border-box;
}

body {
	/*background: #3385ff;*/
	background: url(https://images.pexels.com/photos/74241/rozdzial-strona-ksiazka-macro-74241.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
	background-size: cover;
	background-repeat: no-repeat;
	/*background-position: center;*/
	background-attachment: fixed;
	color: #00264d;
	text-align: center;
	margin: 0;
	position: relative;
	height: 100vh;
}

/* CONTAINER */

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

[class*="col-"] {
    float: left;
    min-height: 1px;
    /*padding-bottom: 20px*/;
    border: 0.5px;
}
.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}
.col-offset-0 {
    margin-left: 0;
}
.col-offset-1 {
    margin-left: 8.33%;
}
.col-offset-2 {
    margin-left: 16.66%;
}
.col-offset-3 {
    margin-left: 25%;
}
.col-offset-4 {
    margin-left: 33.33%;
}
.col-offset-5 {
    margin-left: 41.66%;
}
.col-offset-6 {
    margin-left: 50%;
}
.col-offset-7 {
    margin-left: 58.33%;
}
.col-offset-8 {
    margin-left: 66.66%;
}
.col-offset-9 {
    margin-left: 75%;
}
.col-offset-10 {
    margin-left: 83.33%;
}
.col-offset-11 {
    margin-left: 91.66%;
}
.col-offset-12 {
    margin-left: 100%;
}

header {
	padding: 20px;
}
.box {
	padding: 40px;
	font-size: 3em;
	height: 250px;
}
.trigger {
	padding: 18px 30px;
	background: transparent;
	/*margin-top: 50px;*/
	margin: 50px 0px 30px 15px;
	border: solid 1px;
	border-radius: 10px;
	color: #00264d;
	cursor: pointer;
}
.trigger:hover {
	color: #fff;
	text-decoration: none;
	background-color: #00264d;
	border-color: #00264d;
}
.tweet {
	padding: 20px 42px;
	background: transparent;
	/*margin: 30px;*/
	margin: 30px 15px;
	border: solid 1px;
	border-radius: 10px;
	color: #00264d;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
}
.tweet:hover {
	color: #fff;
	text-decoration: none;
	background-color: #00264d;
	border-color: #00264d;
}
.tweet:visited {
	/*color: #3385ff;*/
	text-decoration: none;
	background-color: transparent;
	border-color: #00264d;
}

/* MEDIA QUERIES */

@media (max-width: 767px){
	/* For tablets: */
	.col-s-1 {width: 8.33%;}
	.col-s-2 {width: 16.66%;}
	.col-s-3 {width: 25%;}
	.col-s-4 {width: 33.33%;}
	.col-s-5 {width: 41.66%;}
	.col-s-6 {width: 50%;}
	.col-s-7 {width: 58.33%;}
	.col-s-8 {width: 66.66%;}
	.col-s-9 {width: 75%;}
	.col-s-10 {width: 83.33%;}
	.col-s-11 {width: 91.66%;}
	.col-s-12 {width: 100%;}
	
	.col-offset-s-0 {margin-left: 0;}
	.col-offset-s-1 {margin-left: 8.33%;}
	.col-offset-s-2 {margin-left: 16.66%;}

	body
		{
			max-height: 800px;
		}
	.box {
		padding: 15px;
		font-size: 1em;
		height: 200px;
	}
	.quote, .author {
		font-size: 20px;
	}

@media (min-width: 768px) and (max-width: 1199px) {
	/* For desktop: */
	.col-m-1 {width: 8.33%;}
	.col-m-2 {width: 16.66%;}
	.col-m-3 {width: 25%;}
	.col-m-4 {width: 33.33%;}
	.col-m-5 {width: 41.66%;}
	.col-m-6 {width: 50%;}
	.col-m-7 {width: 58.33%;}
	.col-m-8 {width: 66.66%;}
	.col-m-9 {width: 75%;}
	.col-m-10 {width: 83.33%;}
	.col-m-11 {width: 91.66%;}
	.col-m-12 {width: 100%;}
	
	.col-offset-m-0 {margin-left: 0;}
	.col-offset-m-1 {margin-left: 8.33%;}
	.col-offset-m-2 {margin-left: 16.66%;}